.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: blueviolet;
}

#photoNdetail {
  display: flex;
  padding: 100px;
}

.infobox_detail {
  width: 800px;
}

.infobox_detail > h1 {
  font-size: 80px;
  line-height: 10px;
}

.profile_img {
  height: 500px;
  width: 400px;
}

#about_me,
#contact,
#skills > div {
  padding: 150px;
  height: 500px;
}

a {
  text-decoration: none;
  margin: 0 60px;
  font-size: 25px;
}

.headings {
  font-size: 50px;
  color: rgb(19, 245, 11);
}
